AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: false
AllowShortBlocksOnASingleLine: false
AllowShortIfStatementsOnASingleLine: true
AlwaysBreakTemplateDeclarations: true
BinPackArguments: false
BinPackParameters: false
FixNamespaceComments: true
IndentCaseLabels: false
PenaltyReturnTypeOnItsOwnLine: 100
PenaltyBreakBeforeFirstCallParameter: 10000
SortIncludes: false
SpaceAfterCStyleCast: true
