<launch>
  <group ns="stereo/camera0/image" >
    <rosparam param="disable_pub_plugins">
      - "image_transport/compressed"
      - "image_transport/compressedDepth"
      - "image_transport/theora"
    </rosparam>
  </group>

  <group ns="stereo/camera1/image" >
    <rosparam param="disable_pub_plugins">
      - "image_transport/compressed"
      - "image_transport/compressedDepth"
      - "image_transport/theora"
    </rosparam>
  </group>

  <node pkg="rs4se"
      type="intel_d435i"
      name="intel_d435i"
      required="true"
      output="screen" >
  </node>
</launch>
